version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: pgsql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: abc123
      POSTGRES_DB: pricesdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  api:
    build: .
    container_name: coin_gecko_api
    env_file:
      - .env
    volumes:
      - ./:/usr/src/app
    working_dir: /usr/src/app
    command: npm run start:dev
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"

volumes:
  pgdata:
  redisdata:
